.course-control {
  height: 40px;
  width: 100%;
}

.search-bar {
  width: 60%;
}

.search-input {
  float: left;
  margin-right: 10px;
}

.search-button {
  float: left;
}

.add-new-course {
  float: right;
}
