.card{
    border: 2px solid rgb(80, 227, 80);
    padding: 20px;
    margin: 20px 0px;
    height: auto;
    display: flex;
    gap: 15%;
}

.course-title{
    font-size: 30px;
    margin-bottom: 20px;
}

.description{
    width: 60%;
    line-height: 20px;
}

.aditional{
    line-height: 30px;
}

.show-course{
    margin-top: 10px;
    position: relative;
    left: 25%;
}